*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-thumb {
  background: $red;
}

*::-webkit-scrollbar-track {
  background: $gray-700;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

td {
  vertical-align: middle !important;
}

.loading {
  height: calc(100vh - 1.5rem);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  @extend .container;

  padding-top: 1.5rem;
  padding-bottom: $navbar-size;
}

.table-responsive {
  @extend .table-responsive;

  max-height: 70vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));

  gap: 20px;
  font-size: 14px;
}

@for $i from 1 through 12 {
  .grid-span-#{$i} {
    grid-column: span #{$i};
  }
}

@media only screen and (min-width: 600px) {
  .container {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 450px) {
  @for $i from 1 through 12 {
    .grid-span-#{$i} {
      grid-column: span 12;
    }
  }
}
